
name: build and upload2

on:
  issue_comment:
    types: [created]

jobs: 
  firmware-build:
    runs-on: ubuntu-latest
    steps:
      - name: Summary and Download Instructions
        run: |
          echo "### Build Summary"
