name: PR Manual Approval

on:
  pull_request_target:
  issue_comment:
    types: [created]

jobs:
  # job “fake” juste pour avoir le check pending
  placeholder:
    name: Manual PR Approval
    runs-on: ubuntu-latest
    steps:
      - run: echo "Waiting for /approve"

  # job réel qui ne run que sur commentaire
  firmware-build:
    if: github.event_name == 'issue_comment' && github.event.issue.pull_request != null && github.event.comment.body == '/approve'
    runs-on: ubuntu-latest
    needs: placeholder
    steps:
      - name: Summary and Download Instructions
        run: echo "### Build Summary"
