
name: build and upload

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs: 
  firmware-build:
    runs-on: ubuntu-latest
    steps:
      - name: Summary and Download Instructions
        run: |
          echo "### Build Summary"
