
name: build and upload2

on:
  issue_comment:
    types: [created]

jobs: 
  firmware-build:
    if: github.event.issue.pull_request != null && github.event.comment.body == '/approve'
    runs-on: ubuntu-latest
    steps:
      - name: Summary and Download Instructions
        run: |
          echo "### Build Summary"
