name: Manual Gate

on:
  workflow_dispatch:
  pull_request:  

jobs:
  gate:
    runs-on: ubuntu-latest
    if: contains(join(github.event.pull_request.labels.*.name, ' '), 'approved')
    steps:
      - name: do manual thing
        if: github.event_name == 'workflow_dispatch'
        run: |
          echo "run manual stuff"
          exit 0
    
      - name: noop for PR creation
        if: github.event_name != 'workflow_dispatch'
        run: |
          echo "noop"
          exit -1
