name: Manual Gate

on:
  workflow_dispatch:
  pull_request:  

jobs:
  gate:
    if: github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
      - run: echo "I will run always when manually dispatched"
